@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ROBOTO,sans-serif;
}

button{
    cursor: pointer;
}

.search,
.email
{
    width: 230px;
    height: 40px;
    font-size: 16px;
    border: 400px;
    padding: 0 8px;
    margin-right: 16px;
    border-radius: 50px;


}
.action__button,
.faq__button
{
    height: 40px;
    width:130px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    color: white;
    transform: scale(1);
    background: linear-gradient(90deg, #e22b6b,#c9192e,#e50914);
    transition: all 300ms ease;
}

/* 

LANDING PAGE

*/

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#landing-page{
    height: calc(100vh - 100px);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1519608487953-e999c86e7455");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;
}

select{
    height: 35px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 12px;
}


select:focus{
    outline: 2px solid white;
    outline-offset: 2px;
}

.action__button:hover{
    transform: scale(1.1);
}

.action__button:active{
    transform: scale(0.95);
}


/*

NAVIGATION

*/

.nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px;
}

.logo{
    width: 80px;
    height: 80px;
}

.sign-in__button{
    width: 80px;
    background-color: #e50914;
    color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 500ms ease;
}

.sign-in__button:hover{
    background-color: #be0e17;
}

/*

HERO

*/


#hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero__container{
    color: white;
    padding: 8px;
}

.hero__title{
    font-size: 58px;
    font-weight: 900;
    text-align: center;
    line-height: 1.5;
}

.hero__subtitle{
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

.hero__para{
    margin: 8px 0 0 16px;
    padding: 8px;
    text-align: center; 
    line-height: 2;
}

.action__container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

/*

MOVIES

*/

#movies{
    background-color: black;
    color: white;
}

.movies__row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 12px;
}

.movies__img{
    height: 150px;
    width: 150px;
}

.learn__container{
    border-radius: 6px;
    background: linear-gradient(90deg, #88133c,#c9192e,#e50914);
    padding: 0 20px;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 90px;
}

.learn__subtitle{
    text-align: center;
    margin-top: 4px;
}

.learn__button{
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #200020;
    transition: all 500ms ease;
}


.learn__button:hover{
    transform: scale(1.1);
}

.learn__button:active{
    transform: scale(0.95);
}


/*

TRENDING

*/

#trending{
    background-color: black;
}


.movie__wrapper{
    padding: 32px;
    display: flex;
    justify-content: space-evenly;
}

.trending__title{
    padding: 32px;
    color: white;
}

.movie{
    position: relative;
    max-height: 280px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    padding: 0 8px;
    transition: all 500ms ease;
}



.movie:hover{
    transform: scale(1.1);
}

/*

INFORMATION

*/

#information{
    background-color: black;
}

.information__title{
    padding: 32px 8px 32px 8px;
    margin: 8px;
    color: white;
}

.information__wrapper{
    max-width:1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;

}

.information__cards{
  width: 325px;
  background: linear-gradient(90deg, #88133c,#c9192e,#e50914);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-right: 16px;


}

.information__cards--title{
    color: white;
    margin-bottom: 28px;
}

.information__cards--subtitle{
    color: white;
}

.information__cards--para{
    color: rgba(255, 255, 255, 0.512);
    margin-bottom: 16px;
}

.icon{
display: flex;
justify-content: right;
align-content: center;
}

.fa-tv,
.fa-download,
.fa-tablet-screen-button,
.fa-child-reaching
{
    font-size: 32px;
    color: #200020;
    width: 50px;
    margin-left: 250px;
}

/*

FREQUENTLY ASKED QUESTION

*/

.faq__title{
    color: white;
    margin: 32px 0 40px 8px;
    padding: 8px;
}

.faq__item{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2px 0;
}

.faq__item{
    margin-bottom: 8px;
}

.faq__question{
    width: 100%;
    padding: 25px 20px;
    border: none;
    background-color: #2d2d2d;
    color: white;
    font-size: 22px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}

.faq__question span{
    font-size: 40px;
    font-weight: 200;
}

.faq__question:hover {
    background-color: #414141;
}

.faq__answer {
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    padding: 0 20px;
    margin-top: 2px;
    display: none;
}

.faq__answer p {
    margin: 0;
    padding: 25px 0;
}

.faq__subtitle{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 62px 0 32px 0;
}

.email{
    max-width: 500px;
    width: 80%;
}

.faq__action{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.faq__button:hover{
    transform: scale(1.1);
}

.faq__button:active{
    transform: scale(0.95);
}

/*

FOOTER

*/

.footer__row{
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.footer__title{
    margin: 32px 0;
    padding: 8px 0 8px 24px;
    font-size: 16px;
    font-weight: 400;
}

.number{
    text-decoration:underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.footer__info--container{
    display: flex;
    justify-content: space-evenly;
}

.footer__info--card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer__info{
    padding: 8px 8px 8px 24px;
    text-decoration: underline;
    font-size: 14px;
}

.footer__info:hover{
    cursor: pointer;
}

.footer__language{
    margin: 48px 24px;
}

/*LAPTOPS*/

@media (max-width: 1080px){
    .hero__title{
    font-size: 40px;
    margin-bottom: 16px;
}
}

/*TABLETS*/

@media (max-width: 768px){
    .hero__title{
    font-size: 30px;
    margin-bottom: 16px;
}
    .trending__title,
    .information__title,
    .faq__title{
        text-align: center;
        font-size: 40px;
        margin-bottom: 16px;
    }

    .movie__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .faq__question,
    .faq__answer{
        font-size: 16px;
        align-items: center;
    }

    .email{
    max-width: 200px;
    width: 100%;
}

    .learn__container{
        width: 350px;
    }

    .learn__button{
        padding: 4px;
        font-size: 12px;
    }


    .learn__title{
        font-size: 16px;
        text-align: center;
    }

    .movies__img{
        display: none;
    }
}

/*PHONES*/

@media (max-width: 768px){
    .information__title,
    .faq__title
    {
        font-size: 32px;
    }

    .faq__question,
    .faq__answer
    {
        font-size: 12px;
    }

    .footer__title{
        font-size: 12px;
    }

    .footer__info{
        font-size: 12px;
    }

    .footer__language{
        font-size: 10px;
    }
}

/*

SEARCH PAGE

*/

.search__nav--container{
    margin-bottom: 40px;
}

#search__body{
    background-color: black;
    color: white;
}

.search__results{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
  
}

.movie-img__wrapper{
    width: 200px;
    margin-bottom: 100px;
}

.search__results--img{
    width: 300px;
    margin-bottom: 20px;
}

.type{
    margin-bottom: 16px;
}

/*
